# **Assignment 2**

|  Name | Student ID | Section Contributed | Section Edited | Other Contributions |
| --- | --- | --- | --- | --- |
| Dueck, Ellie | 301462367 |  |  | 
| Flett, Iain | 301581520 |  | |

In [468]:
import os
import nltk
from nltk import punkt
from nltk.corpus import stopwords
from nltk.classify.scikitlearn import SklearnClassifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB, BernoulliNB
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import random

In [564]:
def get_sentiment_scores(text):
    """
    Uses VADER within NLTK to calculate sentiment
    
    Args:
        text (str): a string containing the file or text
        
    Returns: 
        dict: a dictionary that VADER creates
    """
    analyzer = SentimentIntensityAnalyzer()
    scores = analyzer.polarity_scores(text)
    score = scores['compound']
    out = (score*100)
    return out

In [394]:
path = './data'

In [396]:
df1 = pd.read_csv('./data/news1cleaned.csv', encoding = "utf-16")

df1

                                                 message
0      Your best photographs of 2012. GALLERY: http:/...
1      London's leading shares have fallen amid fears...
2      In Pictures: New Year's celebrations from arou...
3      A painting bought for £400 and featured on the...
4      52 jobs in 52 weeks. 30-year-old Matt Frost de...
...                                                  ...
21026  Police warn the public not to approach two men...
21027                     Would you know the difference?
21028                     Certainly an interesting find.
21029  'Canadians are obsessed by the rise of Trump -...
21030  Six celebrities will take part in the  Strictl...

[21031 rows x 1 columns]

In [430]:
df2full = pd.read_csv('./data/news2cleaned.csv', encoding = "utf-16")

df2 = df2full.head(len(df1))
df2

                                                 message
0      Roberts took the unusual step of devoting the ...
1                         Do you agree with the new law?
2      Some pretty cool confetti will rain down on Ne...
3                                                    NaN
4      The pharmacy was held up by a man seeking pres...
...                                                  ...
21026  WATCH: Obi the baby pygmy hippo has splashed i...
21027  40 people, mostly children, sickened after vis...
21028  For updates on #Charlestonshooting vigil, foll...
21029  Entire arena joins hands and sings 'We Shall O...
21030  72 years later, this Japanese-American couple,...

[21031 rows x 1 columns]

In [483]:
# define the function
def featureExtractor(message):
    return {'sentiment': get_sentiment_scores(message)}

In [485]:
# construct the dataset
labeledMessages = ([(message, 'bbc') for message in df1['message']] +
                [(message, 'abc') for message in df2['message']])

# shuffle the data set
random.shuffle(labeledMessages)

In [488]:
# divide 70, 20, 10
length = len(labeledMessages)
len_training = int(length * 0.7)
len_dev = int(length * 0.2)
len_test = int(length * 0.1)

# print to double-check
print(len_training)
print(len_dev)
print(len_test)

29443
8412
4206

In [490]:
# divide the names list into 3 parts, slicing by the variables above, which tell us how many items
# is 70%, 20%, 10%
trainingMessages = labeledMessages[:len_training]
devtestMessages = labeledMessages[len_training:(len_training + len_dev)]
testMessages = labeledMessages[(len_training + len_dev):]

# print to double-check
print(len(trainingMessages))
print(len(devtestMessages))
print(len(testMessages))

29443
8412
4207

In [566]:
# call the function to extract the features from each set

trainingSet = [(featureExtractor(str(n)), corp) for (n, corp) in trainingMessages]

In [567]:
devtestSet = [(featureExtractor(str(n)), corp) for (n, corp) in devtestMessages]

In [568]:
testSet = [(featureExtractor(str(n)), corp) for (n, corp) in testMessages]

In [569]:
B_classifier = SklearnClassifier(BernoulliNB())

B_classifier.train(trainingSet)

print(nltk.classify.accuracy(B_classifier,devtestSet))

0.5174750356633381

In [574]:
# run the classifier with the trainingSet
classifier = nltk.MaxentClassifier.train(trainingSet)

# check accuracy on the devtestSet
print("Accuracy on the dev-test set:", nltk.classify.accuracy(classifier, devtestSet), "\n")

# check what the most informative features are in our model
classifier.show_most_informative_features(5)

  ==> Training (100 iterations)

      Iteration    Log Likelihood    Accuracy
      ---------------------------------------
             1          -0.69315        0.499
             2          -0.64564        0.594
             3          -0.63740        0.594
             4          -0.63248        0.594
             5          -0.62922        0.594
             6          -0.62689        0.594
             7          -0.62515        0.594
             8          -0.62380        0.594
             9          -0.62272        0.594
            10          -0.62184        0.594
            11          -0.62110        0.594
            12          -0.62048        0.594
            13          -0.61995        0.594
            14          -0.61949        0.594
            15          -0.61909        0.594
            16          -0.61873        0.594
            17          -0.61841        0.594
            18          -0.61813        0.594
            19          -0.61788        0.594
            20          -0.61765        0.594
            21          -0.61744        0.594
            22          -0.61725        0.594
            23          -0.61707        0.594
            24          -0.61691        0.594
            25          -0.61676        0.594
            26          -0.61662        0.594
            27          -0.61650        0.594
            28          -0.61638        0.594
            29          -0.61627        0.594
            30          -0.61616        0.594
            31          -0.61607        0.594
            32          -0.61597        0.594
            33          -0.61589        0.594
            34          -0.61581        0.594
            35          -0.61573        0.594
            36          -0.61566        0.594
            37          -0.61559        0.594
            38          -0.61553        0.594
            39          -0.61546        0.594
            40          -0.61540        0.594
            41          -0.61535        0.594
            42          -0.61530        0.594
            43          -0.61524        0.594
            44          -0.61520        0.594
            45          -0.61515        0.594
            46          -0.61510        0.594
            47          -0.61506        0.594
            48          -0.61502        0.594
            49          -0.61498        0.594
            50          -0.61494        0.594
            51          -0.61491        0.594
            52          -0.61487        0.594
            53          -0.61484        0.594
            54          -0.61481        0.594
            55          -0.61478        0.594
            56          -0.61474        0.594
            57          -0.61472        0.594
            58          -0.61469        0.594
            59          -0.61466        0.594
            60          -0.61463        0.594
            61          -0.61461        0.594
            62          -0.61458        0.594
            63          -0.61456        0.594
            64          -0.61454        0.594
            65          -0.61451        0.594
            66          -0.61449        0.594
            67          -0.61447        0.594
            68          -0.61445        0.594
            69          -0.61443        0.594
            70          -0.61441        0.594
            71          -0.61439        0.594
            72          -0.61437        0.594
            73          -0.61436        0.594
            74          -0.61434        0.594
            75          -0.61432        0.594
            76          -0.61431        0.594
            77          -0.61429        0.594
            78          -0.61427        0.594
            79          -0.61426        0.594
            80          -0.61424        0.594
            81          -0.61423        0.594
            82          -0.61422        0.594
            83          -0.61420        0.594
            84          -0.61419        0.594
            85          -0.61418        0.594
            86          -0.61416        0.594
            87          -0.61415        0.594
            88          -0.61414        0.594
            89          -0.61413        0.594
            90          -0.61411        0.594
            91          -0.61410        0.594
            92          -0.61409        0.594
            93          -0.61408        0.594
            94          -0.61407        0.594
            95          -0.61406        0.594
            96          -0.61405        0.594
            97          -0.61404        0.594
            98          -0.61403        0.594
            99          -0.61402        0.594
         Final          -0.61401        0.594
Accuracy on the dev-test set: 0.5524251069900142

   6.644 sentiment==-3.8699999999999997 and label is 'abc'
   6.644 sentiment==29.24 and label is 'bbc'
   6.644 sentiment==-16.950000000000003 and label is 'bbc'
   6.644 sentiment==-62.4 and label is 'bbc'
   6.644 sentiment==-93.22 and label is 'abc'

In [580]:
"""# create an empty list to store the errors
errors = []

# loop through the devtestNames to classify the entire name
# store the errors in the list
for (message, tag) in testMessages:
    guess = B_classifier.classify(featureExtractor(str(message)))
    if guess != tag:
        print("correct=%s guess=%s name=%s" % (tag, guess, message))"""

'# create an empty list to store the errors\nerrors = []\n\n# loop through the devtestNames to classify the entire name\n# store the errors in the list\nfor (message, tag) in testMessages:\n    guess = B_classifier.classify(featureExtractor(str(message)))\n    if guess != tag:\n        print("correct=%s guess=%s name=%s" % (tag, guess, message))'

Reference:

    SciKit Learn and NLTK package : https://www.youtube.com/watch?v=nla4C-VYNEU&t=272s